.venv/
__pycache__/
.tmp/
*.pyc
*.pyo
*.pyd
.DS_Store
Thumbs.db
.env
.idea/
.vscode/
*.log

# ignore large raw dataset
data/images/
data/captions.txt

# ignore generated experiment files
results/sample_selection/
results/final_samples/
results/results.csv

# keep folder structure if needed
!results/.gitkeep